In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from numpy.linalg import matrix_rank

import matplotlib.pyplot as plt
import seaborn as sns

In [78]:
df = pd.read_csv('./../datasets/worldbank_health_nutr_pop_data.csv', low_memory=False)

In [79]:
df = df.drop('Unnamed: 0', axis=1)

In [80]:
df.head()

,country_name,country_code,year,indicator_name,indicator_code,value
0,China,CHN,2015,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,6.596800
1,China,CHN,2016,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,6.502400
2,China,CHN,2015,Age dependency ratio (% of working-age populat...,SP.POP.DPND,37.668492
3,China,CHN,2016,Age dependency ratio (% of working-age populat...,SP.POP.DPND,38.549146
4,China,CHN,2017,Age dependency ratio (% of working-age populat...,SP.POP.DPND,39.505421

In [81]:
df.drop('indicator_name', axis=1, inplace=True)

In [82]:
df.drop('country_name', axis=1, inplace=True)

In [83]:
df.head()

  country_code  year indicator_code      value
0          CHN  2015    SP.ADO.TFRT   6.596800
1          CHN  2016    SP.ADO.TFRT   6.502400
2          CHN  2015    SP.POP.DPND  37.668492
3          CHN  2016    SP.POP.DPND  38.549146
4          CHN  2017    SP.POP.DPND  39.505421

In [84]:
df.shape

(3845, 4)

In [85]:
dfp = df.assign(d=df.index, t=df.indicator_code) \
            .pivot_table(index='d', columns='t', values='value', fill_value=0) \
            .rename_axis(None, 1)

In [86]:
dfp.shape

(3845, 368)

In [87]:
dfp.head()

,HD.HCI.OVRL,HD.HCI.OVRL.FE,HD.HCI.OVRL.LB,HD.HCI.OVRL.LB.FE,HD.HCI.OVRL.LB.MA,HD.HCI.OVRL.MA,HD.HCI.OVRL.UB,HD.HCI.OVRL.UB.FE,HD.HCI.OVRL.UB.MA,NY.GNP.PCAP.CD,...,SP.REG.BRTH.RU.ZS,SP.REG.BRTH.UR.ZS,SP.REG.BRTH.ZS,SP.RUR.TOTL,SP.RUR.TOTL.ZG,SP.RUR.TOTL.ZS,SP.URB.GROW,SP.URB.TOTL,SP.URB.TOTL.IN.ZS,SP.UWT.TFRT
d,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0

In [88]:
dfp['year']= df['year']

In [89]:
dfp['country_code']= df['country_code']

In [90]:
dfp.head()

,HD.HCI.OVRL,HD.HCI.OVRL.FE,HD.HCI.OVRL.LB,HD.HCI.OVRL.LB.FE,HD.HCI.OVRL.LB.MA,HD.HCI.OVRL.MA,HD.HCI.OVRL.UB,HD.HCI.OVRL.UB.FE,HD.HCI.OVRL.UB.MA,NY.GNP.PCAP.CD,...,SP.REG.BRTH.ZS,SP.RUR.TOTL,SP.RUR.TOTL.ZG,SP.RUR.TOTL.ZS,SP.URB.GROW,SP.URB.TOTL,SP.URB.TOTL.IN.ZS,SP.UWT.TFRT,year,country_code
d,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,0.0,0.0,0.0,0,0.0,0.0,2015,CHN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,0.0,0.0,0.0,0,0.0,0.0,2016,CHN
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,0.0,0.0,0.0,0,0.0,0.0,2015,CHN
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,0.0,0.0,0.0,0,0.0,0.0,2016,CHN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,0.0,0.0,0.0,0,0.0,0.0,2017,CHN

In [94]:
dfp.astype(bool).sum(axis=0)

HD.HCI.OVRL                5
HD.HCI.OVRL.FE             5
HD.HCI.OVRL.LB             5
HD.HCI.OVRL.LB.FE          5
HD.HCI.OVRL.LB.MA          5
HD.HCI.OVRL.MA             5
HD.HCI.OVRL.UB             5
HD.HCI.OVRL.UB.FE          5
HD.HCI.OVRL.UB.MA          5
NY.GNP.PCAP.CD            15
SE.ADT.1524.LT.FM.ZS       4
SE.ADT.1524.LT.MA.ZS       4
SE.ADT.1524.LT.ZS          4
SE.ADT.LITR.FE.ZS          4
SE.ADT.LITR.MA.ZS          4
SE.ADT.LITR.ZS             4
SE.PRM.CMPT.FE.ZS          7
SE.PRM.CMPT.MA.ZS          7
SE.PRM.CMPT.ZS             7
SE.PRM.ENRR               10
SE.PRM.ENRR.FE            10
SE.PRM.ENRR.MA            10
SE.PRM.NENR                5
SE.PRM.NENR.FE             5
SE.PRM.NENR.MA             5
SE.SEC.ENRR                7
SE.SEC.ENRR.FE             7
SE.SEC.ENRR.MA             7
SE.SEC.NENR                5
SE.SEC.NENR.FE             5
                        ...
SP.POP.AG23.FE.IN         15
SP.POP.AG23.MA.IN         15
SP.POP.AG24.FE.IN         15
SP.POP.AG24.MA.IN         15
SP.POP.AG25.FE.IN         15
SP.POP.AG25.MA.IN         15
SP.POP.BRTH.MF            10
SP.POP.DPND               15
SP.POP.DPND.OL            15
SP.POP.DPND.YG            15
SP.POP.GROW               15
SP.POP.TOTL               15
SP.POP.TOTL.FE.IN         15
SP.POP.TOTL.FE.ZS         15
SP.POP.TOTL.MA.IN         15
SP.POP.TOTL.MA.ZS         15
SP.REG.BRTH.FE.ZS          1
SP.REG.BRTH.MA.ZS          1
SP.REG.BRTH.RU.ZS          1
SP.REG.BRTH.UR.ZS          1
SP.REG.BRTH.ZS             1
SP.RUR.TOTL               15
SP.RUR.TOTL.ZG            15
SP.RUR.TOTL.ZS            15
SP.URB.GROW               15
SP.URB.TOTL               15
SP.URB.TOTL.IN.ZS         15
SP.UWT.TFRT                3
year                    3845
country_code            3845
Length: 370, dtype: int64